body{
    background-image: url("img/orgullo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}
label{
    color: white;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
iframe{
    position: relative;
    padding-left: 33%;
}